body{
    height: 100%;
    margin: 0;
    background-color: #272523 !important;

}

a {
    text-decoration:none; 
}

a:hover{
    text-decoration: none !important;
}

header{
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    min-width: 100%;
    z-index: 99;
    margin: 0;
    background-color: #272523;
}

#pagetitle{
    position: relative;
    overflow: hidden;
    text-align: center;
    margin: 10px 0 30px;
}

#pagetitle .PT{
    font-size: 50px;
    font-family: 'Alegreya Sans SC', sans-serif;
    font-weight: 700;
    letter-spacing: 20px;
    color: rgb(219, 219, 219);
}

/*chili*/
.chili{
    background-color: #080806 ;
}
.chili #title01{
    font-size: 25px;
    font-weight: 700;
    letter-spacing: 0px;
    padding: 30px 0 30px;
    text-align: center;
}
.context{
    margin: 50px auto;
    position: relative;
    color: rgb(196, 196, 196);
}
.context p{
    font-size: 14px;
    letter-spacing: 3px;
    text-align: left;
    line-height: 2.2;
    padding: 5px 0px 10px 30px;
   
}

.slideshow{
    padding: 20px 0;
}

/*vr*/
.VR{
    background-color: #A78C6E ;
}

.copyright{
    margin: 80px auto 0px;
    position: relative;
    color: rgb(196, 196, 196);
}

.copyright p{
    font-size: 10px;
    letter-spacing: 3px;
    text-align: center;
    padding: 10px 0 0;
}
.works{
    margin: 80px auto 0px;
    position: relative;
}

.works p{
    font-size: 30px;
    letter-spacing: 3px;
    text-align: center;
    padding: 100px 0px 400px;
}