body{
    height: 100%;
    margin: 0;
    background-color: #272523 !important;
}

a {
}

a:hover{
    text-decoration: none !important;
    color: #BE9E6A;
}

header{
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    min-width: 100%;
    z-index: 99;
    margin: 0;
    background-color: #272523;
}

#pagetitle{
    position: relative;
    overflow: hidden;
    text-align: center;
    margin: 10px 0 30px;
}

#pagetitle .PT{
    font-size: 50px;
    font-family: 'Alegreya Sans SC', sans-serif;
    font-weight: 700;
    letter-spacing: 20px;
    color: #BE9E6A;
}



/*About Works*/
.works{
    padding: 10px 0px 0px;
    text-align: center;
}

.works .title{
    font-size: 30px;
    font-family: 'Alegreya Sans SC', sans-serif;
    font-weight: 700;
    letter-spacing: 10px;
    
}

.workcontext{
    margin: 20px 0 0 0;
    padding: 0px;
}

.works .txttitle p{
    font-family: 'Alegreya Sans SC', sans-serif;
    font-weight: 500;
    font-size: 23px;
    letter-spacing: 3px;
    z-index: 4;
    color: #BE9E6A;
    padding: 100px 0 20px;
    
}

.works .imgArea{
    filter: brightness(100%);
    transition-duration: 1s
}

.works .imgArea :hover{
    filter: brightness(75%);
    transition-duration: 1s
}

.works .txtArea .txtcontext{
    font-size: 14px;
    letter-spacing: 3px;
    color: #BE9E6A;
    text-align: left;
}
.works .txtArea .bgmLink{
    color: #BE9E6A;
    border-bottom: 2px dotted #BE9E6A;
}

.works .txtArea .bgmLink:hover{
    color: #815223;
    border-bottom: 2px dotted #815223;
    transition-duration: 0.3s;
}

.context p{
    font-size: 14px;
    letter-spacing: 3px;
    text-align: left;
    line-height: 2.2;
    padding: 5px 0px 10px 30px;
   
}

.copyright{
    margin: 80px auto 0px;
    position: relative;
}

.copyright p{
    font-size: 10px;
    letter-spacing: 3px;
    text-align: center;
    padding: 10px 0 0;
    color: #BE9E6A;
}