a{
    text-decoration: none;
    color: #272523;
}

.inner ul{
display: table;
margin: 0 auto;
padding: 0 ;
width: 80%;
text-align: center;
}
.inner li{
display: table-cell;
min-width: 50px;
}
.inner a{
display: block;
width: 100%;
text-decoration: none !important;
color: #010101;
padding-bottom: 5px;
}
.global-item :hover{
color: #010101;
}

.inner li#current{
border-bottom: 3px solid #D9AF8B;
}

.inner li:hover{
border-bottom: 3px solid #010101;
transition: 0.2s;
}

#global-nav.m_fixed {
	left: 0;
	position: fixed;
	top: 0;
}
#global-nav {
	background: rgb(252, 248, 243);
	width: 100%;
    z-index: 99;
    padding: 15px 0 0 0;
    opacity: 0.85;
}
