body{
    height: 100%;
    margin: 0;
    background-color: #272523 !important;
}

a {
    text-decoration:none; 
}

a:hover{
    text-decoration: none !important;
}

header{
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    min-width: 100%;
    min-height: 100%;
    z-index: 100;
    margin: 0;
}

.topVid{
    position: relative;
    width: 100%;
    height: 100vh;
    
}

#Vid{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    min-width: 100%;
    min-height: 100%;
}



/*About Works*/
.works{
    margin: 40px 0px 40px;
    padding: 40px 0px 40px;
    text-align: center;
    background-color: #272523;
}

.works .title{
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 10px;
    padding-bottom: 40px;
    color: #BE9E6A;
}

.WorkSpace{
    width: 100%;
    margin: 0, 0, 90px;
}

.works .imgArea{
    margin : 0 auto;
    z-index: 1;
    width: 70%;
}

.imgArea img{
    display: block;
    padding: 50px;
}

.works .imgArea :hover{
    opacity: 0.6;
    transition: 0.4s;
    z-index: 2;
}

/*About Me*/

.about{
    padding: 100px 0 30px;
    position: relative;
    z-index: 1;
    background-color: #f0cd95;
}

.about .title{
    font-size: 22px;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    letter-spacing: 10px;
    padding: 10px 0 30px;
    text-align: center;
}

.Introduce{
    margin: 10px auto;
    padding: 30px 0;
    position: relative;
}

.name{
    margin: 0 auto 30px;
    position: relative;
}

.name p{
    font-size: 26px;
    font-family: 'Vollkorn', serif;
    font-weight: normal;
    letter-spacing: 5px;
    text-align: right;
    padding: 5px 30px 10px 0px;
    
}

.name #mail{
    padding-top: 20px;
    font-size: 14px;
    font-family: sans-serif;
    text-decoration: none;
    color: #272523;
}

.name #mail a{
    text-decoration: none;
    color: #272523;
}

.name #photo{
    margin-top: 30px;
}

#mail :hover{
    padding-bottom: 2px;
    border-bottom: solid 1px #272523;
    transition: 0.2s;
}

.context{
    margin: 0 auto;
    position: relative;
}

.context p{
    font-size: 14px;
    letter-spacing: 3px;
    text-align: left;
    line-height: 2.2;
    padding: 5px 0px 10px 30px;
   
}

.copyright{
    margin: 100px auto 0px;
    position: relative;
}

.copyright p{
    font-size: 10px;
    letter-spacing: 3px;
    text-align: center;
    padding: 10px 0 0;
}